Repository team-winey/Winey-iOS, pull requests merged in 2023-07, with the labels that each got.

#2 [Setting] #1 - 프로젝트 초기 세팅
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Winey/Winey.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Winey/Winey.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Winey/Winey/Resource/Assets.xcassets/AccentColor.colorset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/ic_feed.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/ic_feed@2x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/ic_feed@3x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@2x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@3x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@2x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@3x.png
  Winey/Winey/Resource/Assets.xcassets/logo/Contents.json
  Winey/Winey/Resource/Assets.xcassets/sampleImages/Contents.json
  Winey/Winey/Resource/Base.lproj/LaunchScreen.storyboard
  Winey/Winey/Resource/Fonts/Pretendard-Bold.otf
  Winey/Winey/Resource/Fonts/Pretendard-Medium.otf
  Winey/Winey/Resource/Fonts/Pretendard-SemiBold.otf
  Winey/Winey/Resource/Info.plist
  Winey/Winey/Source/Global/Extension/Foundation+/NSObject+.swift
  Winey/Winey/Source/Global/Extension/Foundation+/String+.swift
  Winey/Winey/Source/Global/Extension/UIKit/Font+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIButton+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIColor+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIImage+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UILabel+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIStackView+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UITextField+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIView+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIViewController+.swift
  Winey/Winey/Source/Global/Supports/AppDelegate.swift
  Winey/Winey/Source/Global/Supports/SceneDelegate.swift
  Winey/Winey/Source/Scenes/Feed/.gitkeep
  Winey/Winey/Source/Scenes/MyFeed/.gitkeep
  Winey/Winey/Source/Scenes/MyPage/.gitkeep
  Winey/Winey/Source/Scenes/Recommend/.gitkeep
  Winey/Winey/Source/Scenes/SaveGoal/.gitkeep
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
  Winey/Winey/Source/Scenes/Upload/.gitkeep
Labels: Setting ⚙️, 인영 🙆🏻‍♀️

#6 [Hotfix] #5- DS_Store 추가
  .gitignore
Labels: Setting ⚙️, Fix ✍🏻, 인영 🙆🏻‍♀️

#10 [Setting] 디자인시스템 모듈 추가
  Winey/Common/DesignSystem/Package.swift
  Winey/Common/DesignSystem/README.md
  Winey/Common/DesignSystem/Sources/DesignSystem/Dummy.swift
  Winey/Common/DesignSystem/Tests/DesignSystemTests/Dummy.swift
  Winey/Winey.xcodeproj/project.pbxproj
Labels: Setting ⚙️, 재용 🏰

#11 [Setting] 디자인시스템으로 Asset / Color 이동 및 정의 방식 일부 변경
  Winey/Common/DesignSystem/Package.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Dummy.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/ic_feed.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/ic_feed@2x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/ic_feed@3x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@2x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@3x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@2x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@3x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/logo/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/sampleImages/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray0.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray100.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray200.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray300.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray400.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray50.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray500.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray600.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray700.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray800.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/gray/gray900.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/purple/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/purple/purple100.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/purple/purple200.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/purple/purple300.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/purple/purple400.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/purple/purple500.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/semantic/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/semantic/blue500.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/semantic/green500.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/semantic/red500.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/yellow/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/yellow/mainYellow.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Color/Pallete.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Color/UIColor+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Extension/UIKit/UIColor+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIImage+.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Setting ⚙️, Refactor 🔨, 재용 🏰

#15 [Hotfix] 디자인 시스템 추가하면서 생긴 디버그 오류 수정 및 이미지 번들 경로 수정
  Winey/Common/DesignSystem/Package.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey/Resource/Assets.xcassets/icons/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/ic_feed.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/ic_feed@2x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_feed.imageset/ic_feed@3x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@2x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@3x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/Contents.json
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@2x.png
  Winey/Winey/Resource/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@3x.png
  Winey/Winey/Resource/Assets.xcassets/logo/Contents.json
  Winey/Winey/Resource/Assets.xcassets/sampleImages/Contents.json
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
Labels: bug, 재용 🏰

#14 [Feat] #3- 머닛피드 뷰 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/btn_floating.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/btn_floating.imageset/btn_floating.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_like_selected.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_like_selected.imageset/ic_like_selected.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_like_unselected.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_like_unselected.imageset/ic_like_unselected.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/sampleImages/sample1.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/sampleImages/sample1.imageset/sample1.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Extension/Foundation+/Int+.swift
  Winey/Winey/Source/Global/Extension/UIKit/CGFloat+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UILabel+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIView+.swift
  Winey/Winey/Source/Scenes/Feed/Model/FeedModel.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedHeaderView.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Design 🎨, 인영 🙆🏻‍♀️

#16 [Setting] 디자인시스템 - 폰트 Typography 적용
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/sample1.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/sample1.imageset/sample1.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Fonts/Pretendard-Bold.otf
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Fonts/Pretendard-Medium.otf
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Fonts/Pretendard-SemiBold.otf
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography+Appliable.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography+Font.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography+NSMutableAttributedString.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Extension/UIKit/Font+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UILabel+.swift
  Winey/Winey/Source/Global/Supports/AppDelegate.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedHeaderView.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
  Winey/Winey/Source/Scenes/Test/TestViewController.swift
Labels: 재용 🏰

#21 [Feat] #17 - 디자인시스템 네비게이션바 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_back.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_back.imageset/ic_back.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_close.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_close.imageset/ic_close.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/appbar_logo.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/appbar_logo.imageset/appbar_logo.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/NavigationBar/WINavigationBar.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
Labels: Design 🎨, 재용 🏰

#20 [Feat] #4- 마이페이지구현
  Winey/Common/DesignSystem/Package.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_info.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_info.imageset/ic_info.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_next.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_next.imageset/ic_next.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/level_progressbar.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/level_progressbar.imageset/level_progressbar.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/MyPage/.gitkeep
  Winey/Winey/Source/Scenes/MyPage/Cells/Views/InquiryCollectionViewCell.swift
  Winey/Winey/Source/Scenes/MyPage/Cells/Views/MyfeedCollectionViewCell.swift
  Winey/Winey/Source/Scenes/MyPage/Cells/Views/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/MyPage/Cells/Views/MypageProfileCell.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Design 🎨, 영민 💪🏻

#25 [DesignSystem] #23 - 팝업 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_danger.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_danger.imageset/ic_danger.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Button/MIButton+Type.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Button/MIButton.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Popup/MIPopupContent.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Popup/MIPopupViewController.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
  Winey/Winey/Source/Scenes/Test/TestPopupViewController.swift
  Winey/Winey/Source/Scenes/Test/TestTypoViewController.swift
  Winey/Winey/Source/Scenes/Test/TestViewController.swift
Labels: Design 🎨, 재용 🏰

#26 [Feat] #18- 추천피드뷰 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_link.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_link.imageset/icn_link.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/Feed/View/FeedHeaderView.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/Recommend/Model/RecommendFeedModel.swift
  Winey/Winey/Source/Scenes/Recommend/View/RecommendCell.swift
  Winey/Winey/Source/Scenes/Recommend/View/RecommendHeaderView.swift
  Winey/Winey/Source/Scenes/Recommend/ViewController/RecommendViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Design 🎨, 인영 🙆🏻‍♀️

#28 [Feat] #24 - 사용법뷰 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_bubble.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_bubble.imageset/Union.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_guide1.imageset/Capture.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_guide1.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_guide2.imageset/Capture2.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_guide2.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/yellow/lightYellow.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Color/Pallete.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Color/UIColor+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/Guide/ViewControllers/GuideViewController.swift
  Winey/Winey/Source/Scenes/Guide/Views/BubbleView.swift
  Winey/Winey/Source/Scenes/Guide/Views/CautionView.swift
  Winey/Winey/Source/Scenes/Guide/Views/LevelupDescriptionView.swift
  Winey/Winey/Source/Scenes/Guide/Views/LevelupRuleView.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Design 🎨, 영민 💪🏻

#34 [Feat] #8 - 피드 업로드 뷰 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/upload_photo.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/upload_photo.imageset/upload_photo.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography+Appliable.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/NavigationBar/WINavigationBar.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Winey/Winey/Source/Global/Extension/Foundation+/Int+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UITextField+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIView+.swift
  Winey/Winey/Source/Global/Supports/SceneDelegate.swift
  Winey/Winey/Source/Scenes/Upload/Model/UploadModel.swift
  Winey/Winey/Source/Scenes/Upload/View/ContentsWriteView.swift
  Winey/Winey/Source/Scenes/Upload/View/PhotoUploadView.swift
  Winey/Winey/Source/Scenes/Upload/View/PriceUploadView.swift
  Winey/Winey/Source/Scenes/Upload/View/UploadBaseView.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: Design 🎨, 응관 🧑🏻‍🍳

#36 [Hotfix] #8 - 코드리뷰 반영 이미지 svg 단일 스케일로 변경
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/ic_feed.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/ic_feed.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/ic_feed@2x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_feed.imageset/ic_feed@3x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@2x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_mypage.imageset/ic_mypage@3x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@2x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_recommend.imageset/ic_recommend@3x.png
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Extension/UIKit/UITextField+.swift
  Winey/Winey/Source/Scenes/Upload/View/UploadBaseView.swift
Labels: Refactor 🔨, 응관 🧑🏻‍🍳

#31 [Setting] #30 - 서버 세팅 및 머닛피드 전체 조회 API 연결
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Winey/Winey/Resource/Info.plist
  Winey/Winey/Source/Global/Supports/SceneDelegate.swift
  Winey/Winey/Source/Network/Base/BaseResponse.swift
  Winey/Winey/Source/Network/Base/CustomMoyaProvider.swift
  Winey/Winey/Source/Network/Base/Encodable.swift
  Winey/Winey/Source/Network/Base/MoyaLoggerPlugin.swift
  Winey/Winey/Source/Network/Base/NetworkConstant.swift
  Winey/Winey/Source/Network/Base/NetworkResult.swift
  Winey/Winey/Source/Network/Base/URLConstant.swift
  Winey/Winey/Source/Network/DTO/Feed/TotalFeedResponse.swift
  Winey/Winey/Source/Network/Service/Feed/FeedAPI.swift
  Winey/Winey/Source/Network/Service/Feed/FeedService.swift
  Winey/Winey/Source/Network/Service/FeedLike/FeedLikeService.swift
  Winey/Winey/Source/Network/Service/Goal/GoalService.swift
  Winey/Winey/Source/Network/Service/Recommend/RecommendService.swift
  Winey/Winey/Source/Network/Service/User/UserService.swift
  Winey/Winey/Source/Scenes/Feed/Model/FeedModel.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Setting ⚙️, 인영 🙆🏻‍♀️, API 📡

#46 [Feat] #38 절약피드 업로드 및 마이피드 불러오기 API 연결
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Supports/SceneDelegate.swift
  Winey/Winey/Source/Network/Base/FeedAPI.swift
  Winey/Winey/Source/Network/Base/NetworkConstant.swift
  Winey/Winey/Source/Network/Base/URLConstant.swift
  Winey/Winey/Source/Network/DTO/Feed/GetFeedResponse.swift
  Winey/Winey/Source/Network/DTO/Feed/PostFeedResponse.swift
  Winey/Winey/Source/Network/Service/Feed/FeedService.swift
  Winey/Winey/Source/Scenes/MyFeed/Model/MyFeedModel.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/Upload/Model/UploadModel.swift
  Winey/Winey/Source/Scenes/Upload/View/PhotoUploadView.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: 응관 🧑🏻‍🍳, API 📡

#53 [Feat] #27 - 목표설정 뷰 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/Service/FeedLike/FeedLikeAPI.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/SaveGoal/View/SaveGoalTextBoxView.swift
  Winey/Winey/Source/Scenes/SaveGoal/ViewController/SaveGoalViewController.swift
Labels: Design 🎨, 인영 🙆🏻‍♀️

#55 [Feat] #54 - 목표절약 API 연결
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/DTO/Goal/PostGoalRequest.swift
  Winey/Winey/Source/Network/DTO/Goal/PostGoalResponse.swift
  Winey/Winey/Source/Network/Service/Goal/GoalAPI.swift
  Winey/Winey/Source/Network/Service/Goal/GoalService.swift
  Winey/Winey/Source/Scenes/SaveGoal/ViewController/SaveGoalViewController.swift
Labels: 인영 🙆🏻‍♀️, API 📡

#57 [Fix] #52 - 업로드 뷰 QA 피드백 사항 반영
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_plus.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_plus.imageset/btn_plus.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Button/MIButton+Type.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Button/MIButton.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Winey/Winey/Source/Network/Service/Feed/FeedService.swift
  Winey/Winey/Source/Network/Service/FeedLike/FeedLikeAPI.swift
  Winey/Winey/Source/Scenes/Upload/View/ContentsWriteView.swift
  Winey/Winey/Source/Scenes/Upload/View/DotLayerView.swift
  Winey/Winey/Source/Scenes/Upload/View/PhotoUploadView.swift
  Winey/Winey/Source/Scenes/Upload/View/UploadBaseView.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: Design 🎨, Fix ✍🏻, 응관 🧑🏻‍🍳

#59 [Feat] #47 - 마이피드 삭제 및 뷰 업데이트 기능 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_more.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_more.imageset/ic_more.svg
  Winey/Winey/Source/Network/Base/FeedAPI.swift
  Winey/Winey/Source/Network/Base/NetworkConstant.swift
  Winey/Winey/Source/Network/Service/Feed/FeedService.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Design 🎨, 응관 🧑🏻‍🍳, API 📡

#69 [Fix] #63 - QA 피드백 반영
  Winey/Winey/Source/Global/Supports/SceneDelegate.swift
  Winey/Winey/Source/Scenes/Feed/Model/FeedModel.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/Guide/ViewControllers/GuideViewController.swift
  Winey/Winey/Source/Scenes/Guide/Views/CautionView.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
Labels: Design 🎨, Fix ✍🏻, 인영 🙆🏻‍♀️, API 📡

#73 [Fix] #71 - 절약목표 뷰 수정
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey/Source/Global/Models/UserLevel.swift
  Winey/Winey/Source/Network/Base/MoyaLoggerPlugin.swift
  Winey/Winey/Source/Network/Service/Feed/FeedService.swift
  Winey/Winey/Source/Network/Service/Recommend/RecommendService.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/Guide/ViewControllers/GuideViewController.swift
  Winey/Winey/Source/Scenes/Guide/Views/BubbleView.swift
  Winey/Winey/Source/Scenes/Guide/Views/LevelupDescriptionView.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageProfileCell.swift
  Winey/Winey/Source/Scenes/Recommend/View/RecommendCell.swift
  Winey/Winey/Source/Scenes/Recommend/ViewController/RecommendViewController.swift
  Winey/Winey/Source/Scenes/SaveGoal/ViewController/SaveGoalViewController.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: Design 🎨, Fix ✍🏻, 인영 🙆🏻‍♀️, API 📡

#79 [Fix] #78 - 365일 제한 및 레벨업 안내뷰 밑줄 추가
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/yellow/darkYellow.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Colors.xcassets/yellow/mainYellow.colorset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Color/Pallete.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Color/UIColor+.swift
  Winey/Winey/Source/Scenes/Guide/ViewControllers/GuideViewController.swift
  Winey/Winey/Source/Scenes/Guide/Views/CautionView.swift
  Winey/Winey/Source/Scenes/Guide/Views/LevelupRuleView.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/SaveGoal/ViewController/SaveGoalViewController.swift
Labels: Fix ✍🏻, 응관 🧑🏻‍🍳
