Repository team-winey/Winey-iOS, pull requests merged in 2023-08, with the labels that each got.

#92 [Feat] #86 - 알림뷰구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_comment.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_comment.imageset/ic_comment.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_like.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_like.imageset/ic_like.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_winey.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_winey.imageset/ic_winey.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_commoner.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_commoner.imageset/img_commoner.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_emperor.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_emperor.imageset/img_emperor.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_knight.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_knight.imageset/img_knight.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_noble.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_noble.imageset/img_noble.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/Alert/Model/AlertModel.swift
  Winey/Winey/Source/Scenes/Alert/Model/Content.swift
  Winey/Winey/Source/Scenes/Alert/View/AlertCell.swift
  Winey/Winey/Source/Scenes/Alert/ViewController/AlertViewController.swift
  Winey/Winey/Source/Scenes/Guide/Views/BubbleView.swift
  Winey/Winey/Source/Scenes/Guide/Views/LevelupDescriptionView.swift
  Winey/Winey/Source/Scenes/Guide/Views/LevelupRuleView.swift
  Winey/Winey/Source/Scenes/MyPage/Model/MypageModel.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageProfileCell.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Design 🎨

#98 [Refactor] 마이페이지 리팩토링
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/MyPage/Model/Menu.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MenuCell.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MyfeedCollectionViewCell.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageMenuCollectionViewCell.swift
Labels: Refactor 🔨, 영민 💪🏻

#100 [Feat] #94 - KeychainManager 인스턴스화 & Interceptor 모든 라우터에 적용 & 온보딩 뷰 반영 로그인 로직 구현
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Supports/SceneDelegate.swift
  Winey/Winey/Source/Global/Utils/KeychainManager.swift
  Winey/Winey/Source/Network/Base/FeedAPI.swift
  Winey/Winey/Source/Network/Base/NetworkConstant.swift
  Winey/Winey/Source/Network/Base/URLConstant.swift
  Winey/Winey/Source/Network/DTO/Login/ReissueResponse.swift
  Winey/Winey/Source/Network/Service/Feed/FeedService.swift
  Winey/Winey/Source/Network/Service/FeedLike/FeedLikeAPI.swift
  Winey/Winey/Source/Network/Service/FeedLike/FeedLikeService.swift
  Winey/Winey/Source/Network/Service/Goal/GoalAPI.swift
  Winey/Winey/Source/Network/Service/Goal/GoalService.swift
  Winey/Winey/Source/Network/Service/Login/LoginAPI.swift
  Winey/Winey/Source/Network/Service/Login/LoginService.swift
  Winey/Winey/Source/Network/Service/Login/SessionInterceptor.swift
  Winey/Winey/Source/Network/Service/Recommend/RecommendAPI.swift
  Winey/Winey/Source/Network/Service/Recommend/RecommendService.swift
  Winey/Winey/Source/Network/Service/User/UserAPI.swift
  Winey/Winey/Source/Network/Service/User/UserService.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginTestViewController.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginViewController.swift
  Winey/Winey/Source/Scenes/Onboarding/OnboardingViewController.swift
  Winey/Winey/Source/Scenes/Splash/SplashViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Fix ✍🏻, 응관 🧑🏻‍🍳, API 📡

#96 [Bug] 디테일뷰 레이아웃 수정 및 UI 테스트 환경 구축
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Extension/UIKit/UIWinow+.swift
  Winey/Winey/Source/Scenes/Detail/DetailSection.swift
  Winey/Winey/Source/Scenes/Detail/DetailViewController.swift
  Winey/Winey/Source/Scenes/Detail/Views/CommentCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/DetailInfoCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentTextView.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentView.swift
  Winey/Winey/Source/Scenes/Detail/Views/KeyboardFrameView.swift
Labels: bug, Design 🎨

#95 [Feat] 디테일뷰 전체 레이아웃 구성
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_floating.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_floating.imageset/btn_floating.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_more.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/btn/btn_more.imageset/btn_more.pdf
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_comment.imageset/ic_comment.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Font/Typography+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Extension/UIKit/UITableView+.swift
  Winey/Winey/Source/Global/Extension/UIKit/UIWinow+.swift
  Winey/Winey/Source/Scenes/Detail/DetailSection.swift
  Winey/Winey/Source/Scenes/Detail/DetailViewController.swift
  Winey/Winey/Source/Scenes/Detail/Views/CommentCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/DetailInfoCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentTextView.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentView.swift
  Winey/Winey/Source/Scenes/Detail/Views/KeyboardFrameView.swift
Labels: Design 🎨

#103 [Feat] #102 - 로그아웃/회원탈퇴 마이페이지 셀과 연동 및 Alert 뷰 추가
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Popup/MIPopupViewController.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/Service/Login/LoginService.swift
  Winey/Winey/Source/Network/Service/Login/SessionInterceptor.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginTestViewController.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Model/Menu.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarItem.swift
Labels: Design 🎨, 응관 🧑🏻‍🍳

#107 [Feat] 코멘트 / 디테일 API 연동 작업
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Manager/UserManager.swift
  Winey/Winey/Source/Network/Base/BaseResponse.swift
  Winey/Winey/Source/Network/Base/FeedAPI.swift
  Winey/Winey/Source/Network/Base/WineyAPI.swift
  Winey/Winey/Source/Network/DTO/Comment/CommentResponse.swift
  Winey/Winey/Source/Network/DTO/Comment/CreateCommentRequest.swift
  Winey/Winey/Source/Network/DTO/Comment/CreateCommentResponse.swift
  Winey/Winey/Source/Network/DTO/Feed/GetFeedResponse.swift
  Winey/Winey/Source/Network/DTO/FeedDetail/FeedDetailResponse.swift
  Winey/Winey/Source/Network/Service/Comment/CommentAPI.swift
  Winey/Winey/Source/Network/Service/Comment/CommentService.swift
  Winey/Winey/Source/Network/Service/Feed/FeedService.swift
  Winey/Winey/Source/Scenes/Detail/DetailMapper.swift
  Winey/Winey/Source/Scenes/Detail/DetailSection.swift
  Winey/Winey/Source/Scenes/Detail/DetailViewController.swift
  Winey/Winey/Source/Scenes/Detail/Views/DetailInfoCell.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
Labels: Design 🎨, 재용 🏰, API 📡

#108 [Feat] 댓글 생성 / 삭제 / 신고하기 기능 구현
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Global/Manager/UserManager.swift
  Winey/Winey/Source/Network/DTO/Comment/CreateCommentResponse.swift
  Winey/Winey/Source/Network/Service/Comment/CommentService.swift
  Winey/Winey/Source/Scenes/Detail/DetailMapper.swift
  Winey/Winey/Source/Scenes/Detail/DetailViewController.swift
  Winey/Winey/Source/Scenes/Detail/Views/CommentCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/DetailInfoCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentTextView.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentView.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
Labels: 재용 🏰, enhauncement

#109 [Feat] 댓글 엠티뷰 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_empty_comment.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_empty_comment.imageset/ic_empty_comment.pdf
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/Base/NetworkConstant.swift
  Winey/Winey/Source/Scenes/Detail/DetailSection.swift
  Winey/Winey/Source/Scenes/Detail/DetailViewController.swift
  Winey/Winey/Source/Scenes/Detail/Views/CommentCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/DetailInfoCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/EmptyCommentCell.swift
Labels: 재용 🏰, enhauncement

#116 [Feat] #90 - 피드뷰 수정된 부분 추가 구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_default.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_default.imageset/ic_alarm_default.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_variant.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_variant.imageset/ic_alarm_variant.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_banner2.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_banner2.imageset/img_banner2.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_banner3.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_banner3.imageset/img_banner3.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_banner4.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_banner4.imageset/img_banner4.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/NavigationBar/WINavigationBar+Main.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/Base/NetworkConstant.swift
  Winey/Winey/Source/Network/DTO/Feed/GetFeedResponse.swift
  Winey/Winey/Source/Scenes/Feed/Model/FeedModel.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedHeaderView.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
Labels: Design 🎨, Fix ✍🏻, 인영 🙆🏻‍♀️, API 📡

#126 [Feat] #112 - 닉네임 설정 뷰 UI 제작 + TextField 디자인시스템 재정의 및 적용
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Button/DuplicateCheckButton.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextField+Type.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Toast/WIToastBox.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/Service/Login/SessionInterceptor.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginViewController.swift
  Winey/Winey/Source/Scenes/Nickname/Model/Nickname.swift
  Winey/Winey/Source/Scenes/Nickname/NicknameType.swift
  Winey/Winey/Source/Scenes/Nickname/ViewController/NicknameViewController.swift
  Winey/Winey/Source/Scenes/SaveGoal/View/SaveGoalTextBoxView.swift
  Winey/Winey/Source/Scenes/SaveGoal/ViewController/SaveGoalViewController.swift
  Winey/Winey/Source/Scenes/Upload/View/PriceUploadView.swift
Labels: Design 🎨, Fix ✍🏻, Refactor 🔨, 응관 🧑🏻‍🍳

#127 [Feat] #117 - 애니메이션온보딩구현
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_arrow.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_arrow.imageset/icn_arrow.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_canvasView.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_canvasView.imageset/canvasView.pdf
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_chat1.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_chat1.imageset/animationOnboarding_chat1.pdf
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_chat2.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_chat2.imageset/img_chat2.pdf
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_chat3.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/img/img_chat3.imageset/img_chat3.pdf
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Onboarding/onboarding1.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Onboarding/onboarding2.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Onboarding/onboarding3.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Animation/AnimationView.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Images/UIImage+.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/Onboarding/AnimationOnboardingViewController.swift
Labels: Design 🎨, 인영 🙆🏻‍♀️

#132 Feat/#118 알림읽음여부api연결
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_default.imageset/ic_alarm_default.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_variant.imageset/Contents.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_variant.imageset/ic_alarm_variant.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Assets.xcassets/icons/ic_alarm_variant.imageset/ic_newAlarm.svg
  Winey/Common/DesignSystem/Sources/DesignSystem/Resources/Onboarding/onboarding2.json
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/NavigationBar/WINavigationBar+Main.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/DTO/Notification/CheckNewNotificationResponse.swift
  Winey/Winey/Source/Network/Service/Notification/NotificationAPI.swift
  Winey/Winey/Source/Network/Service/Notification/NotificationService.swift
  Winey/Winey/Source/Scenes/Alert/ViewController/AlertViewController.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginViewController.swift
  Winey/Winey/Source/Scenes/Onboarding/AnimationOnboardingViewController.swift
  Winey/Winey/Source/Scenes/Recommend/ViewController/RecommendViewController.swift
Labels: Design 🎨, 인영 🙆🏻‍♀️, API 📡

#128 [Feat] #120 - 카카오소셜로그인구현
  Winey/Winey/Source/Network/Service/Login/LoginAPI.swift
  Winey/Winey/Source/Network/Service/Login/LoginService.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginViewController.swift
Labels: 영민 💪🏻, API 📡

#130 [Fix] #129 - 알림뷰 함수 수정
  Winey/Winey/Source/Scenes/Alert/View/AlertCell.swift
  Winey/Winey/Source/Scenes/Alert/ViewController/AlertViewController.swift
Labels: Fix ✍🏻, 영민 💪🏻

#133 [Feat] #122 - 닉네임 중복확인/설정 API 연결 및 텍스트필드 디자인 상황별 예외처리
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/Base/NetworkConstant.swift
  Winey/Winey/Source/Network/Base/URLConstant.swift
  Winey/Winey/Source/Network/DTO/Nickname/NicknameResponse.swift
  Winey/Winey/Source/Network/Service/Nickname/NicknameAPI.swift
  Winey/Winey/Source/Network/Service/Nickname/NicknameService.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageProfileCell.swift
  Winey/Winey/Source/Scenes/Nickname/ViewController/NicknameViewController.swift
Labels: Design 🎨, 응관 🧑🏻‍🍳, API 📡

#136 [Fix] 피드 업로드 단계 뒤로가기 알람 뷰 출현 케이스 예외처리 및 자잘한 디자인 수정사항 반영
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/View/WIEmptyView.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/Upload/View/ContentsWriteView.swift
  Winey/Winey/Source/Scenes/Upload/View/PriceUploadView.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: Design 🎨, Fix ✍🏻, 응관 🧑🏻‍🍳

#140 [Feat] #131 - 모든 알림 읽음처리 API연결
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Network/DTO/Notification/CheckAllNotificationResponse.swift
  Winey/Winey/Source/Network/Service/Notification/NotificationAPI.swift
  Winey/Winey/Source/Network/Service/Notification/NotificationService.swift
  Winey/Winey/Source/Scenes/Alert/ViewController/AlertViewController.swift
Labels: 영민 💪🏻, API 📡

#149 [Feat] #145 - [목표설정, 추천, 홈피드, 홈 팝업] 로그 추가
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/Recommend/ViewController/RecommendViewController.swift
  Winey/Winey/Source/Scenes/SaveGoal/ViewController/SaveGoalViewController.swift
Labels: 인영 🙆🏻‍♀️

#152 [Fix] #146 - iOS 자체 QA
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey/Source/Scenes/Detail/DetailViewController.swift
  Winey/Winey/Source/Scenes/Detail/Views/DetailInfoCell.swift
  Winey/Winey/Source/Scenes/Feed/View/FeedCell.swift
  Winey/Winey/Source/Scenes/Onboarding/AnimationOnboardingViewController.swift
Labels: bug, Fix ✍🏻, 인영 🙆🏻‍♀️

#153 [Fix] #150 - iOS 자체 QA
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MenuCell.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageProfileCell.swift
Labels: Design 🎨, Fix ✍🏻, 영민 💪🏻

#154 [Fix] #151 - iOS 자체 QA
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/Button/DuplicateCheckButton.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextField+Type.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey/Source/Scenes/Login/View/LoginView.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginViewController.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/Nickname/ViewController/NicknameViewController.swift
  Winey/Winey/Source/Scenes/Upload/View/ContentsWriteView.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: Design 🎨, 응관 🧑🏻‍🍳

#157 [Fix] #156 - 응관 2번째 자체 QA
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey.xcodeproj/project.pbxproj
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginViewController.swift
  Winey/Winey/Source/Scenes/MyFeed/ViewController/MyFeedViewController.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/Nickname/ViewController/NicknameViewController.swift
  Winey/Winey/Source/Scenes/Splash/SplashViewController.swift
  Winey/Winey/Source/Scenes/Upload/View/ContentsWriteView.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: Fix ✍🏻, 응관 🧑🏻‍🍳

#160 [Fix] #159 - 기획/디자인 QA 피드백 반영사항 적용 (응관)
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextField+Type.swift
  Winey/Common/DesignSystem/Sources/DesignSystem/Sources/TextField/WITextFieldView.swift
  Winey/Winey/Source/Global/Supports/SceneDelegate.swift
  Winey/Winey/Source/Network/Service/Comment/CommentService.swift
  Winey/Winey/Source/Network/Service/Login/LoginService.swift
  Winey/Winey/Source/Network/Service/Login/SessionInterceptor.swift
  Winey/Winey/Source/Network/Service/Nickname/NicknameService.swift
  Winey/Winey/Source/Network/Service/Notification/NotificationService.swift
  Winey/Winey/Source/Scenes/Alert/ViewController/AlertViewController.swift
  Winey/Winey/Source/Scenes/Detail/DetailViewController.swift
  Winey/Winey/Source/Scenes/Detail/Views/EmptyCommentCell.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentTextView.swift
  Winey/Winey/Source/Scenes/Detail/Views/FloatingCommentView.swift
  Winey/Winey/Source/Scenes/Feed/ViewController/FeedViewController.swift
  Winey/Winey/Source/Scenes/Login/ViewController/LoginViewController.swift
  Winey/Winey/Source/Scenes/MyPage/ViewControllers/MypageViewController.swift
  Winey/Winey/Source/Scenes/MyPage/Views/Cells/MypageGoalInfoCell.swift
  Winey/Winey/Source/Scenes/Splash/SplashViewController.swift
  Winey/Winey/Source/Scenes/TabBar/TabBarController.swift
  Winey/Winey/Source/Scenes/Upload/ViewController/UploadViewController.swift
Labels: Design 🎨, Fix ✍🏻, API 📡
